<div>
  <h1>RxJS Operator</h1>

  <button (click)="doubleValues()">Map Operator</button>
  <button (click)="filterValues()">Filter Operator</button>
  <button (click)="tapValues()">Tap Operator</button>
  <button (click)="concatObservables()">Concat Operator</button>
  <button (click)="mergeObservables()">Merge Operator</button>
  <button (click)="filterObservable()">Filter Operator</button>
  <button (click)="reduceObservable()">Reduce Operator</button>
  <button (click)="retryObservable()">Retry Operator</button>
  <button (click)="mergeObservable()">Merge Operator 2</button>
  <button (click)="concatMapObservable()">ConcatMap Operator</button>
  <button (click)="switchMapObservable()">SwitchMap Operator</button>
  <button (click)="partitionObservable()">Partition Operator</button>
  <button (click)="combineLatestObservable()">CombineLatest Operator</button>
  <button (click)="skipObservable()">Skip Operator</button>
  <button (click)="takeUntilObservable()">TakeUntil Operator</button>
  <button (click)="catchErrorObservable()">CatchError Operator</button>
</div>
