<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <a class="navbar-brand" href="#">My App</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a
        class="nav-item nav-link active"
        routerLink="/dashboard"
        routerLinkActive="active"
        >Dashboard</a
      >
      <a class="nav-item nav-link" (click)="navigateFeatures()">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>

      <button class="nav-item nav-link btn btn-danger" (click)="signOut()">
        Sign Out
      </button>
    </div>
  </div>
</nav>
